<form #WorkForm="ngForm">
  <div class="form-group m-2">
    <div *ngIf="!stateService.isState(stateService.getStates().CREATE)">
      <label for="id">Id:</label>
      <input disabled
             type="text"
             class="form-control"
             id="id"
             name="id"
             [(ngModel)]="workService.work.id" />
    </div>
    <label for="name">Name:</label>
    <input
      [disabled]="stateService.isState(stateService.getStates().PATCH)"
      type="text"
      class="form-control"
      id="name"
      name="name"
      ngModel
      required
      #name="ngModel"
      [(ngModel)]="workService.work.name" />
    <span *ngIf="!name.valid && name.touched">Please, enter your name</span>
  </div>
  <div class="form-group m-2">
    <label for="price">Price:</label>
    <input type="text"
           class="form-control"
           id="price"
           name="price"
           [(ngModel)]="workService.work.price" />
  </div>

  <div class="form-group align-content-end m-2">
    <button *ngIf="stateService.isState(stateService.getStates().CREATE)" type="button" class="btn btn-info" [disabled]="!WorkForm.valid" (click)="createWork(WorkForm)" routerLink="/works/show">Create</button>
    <button *ngIf="stateService.isState(stateService.getStates().UPDATE)" type="button" class="btn btn-info" [disabled]="!WorkForm.valid" (click)="updateWork(WorkForm)" routerLink="/works/show">Update</button>
    <button *ngIf="stateService.isState(stateService.getStates().PATCH)" type="button" class="btn btn-info" [disabled]="!WorkForm.valid" (click)="patchWork(WorkForm)" routerLink="/works/show">Patch</button>
    <button type="button" class="btn btn-warning" (click)="stateService.dropState()" routerLink="/works/show">Cancel</button>
  </div>
</form>

