<form #BillForm="ngForm">
  <div class="form-group m-2">
    <div *ngIf="!stateService.isState(stateService.getStates().CREATE)">
      <label for="id">Id:</label>
      <input disabled
        type="text"
        class="form-control"
        id="id"
        name="id"
        [(ngModel)]="billService.bill.id" />
    </div>
    <label for="docDate">Document date:</label>
    <input
      type="date"
      class="form-control"
      id="docDate"
      name="docDate"
      required
      ngModel />

  </div>

  <div class="form-group align-content-end m-2">
    <button *ngIf="stateService.isState(stateService.getStates().CREATE)" type="button" class="btn btn-info" [disabled]="!BillForm.valid" (click)="createBill(BillForm)" routerLink="/bills/show">Create</button>
    <button *ngIf="stateService.isState(stateService.getStates().UPDATE)" type="button" class="btn btn-info" [disabled]="!BillForm.valid" (click)="updateBill(BillForm)" routerLink="/bills/show">Update</button>
    <button type="button" class="btn btn-warning" (click)="stateService.dropState()" routerLink="/bills/show">Cancel</button>
  </div>
</form>

