<form #Form="ngForm">
  <div class="form-group m-2">
    <div *ngIf="!formSubmitted">
      <label for="id">Id:</label>
      <input #managerId
             type="text"
             class="form-control"
             id="id"
             name="id"
             required
             [ngModel] />
      <br/>
      <div class="form-group align-content-end">
        <button type="button" class="btn btn-info" [disabled]="!Form.valid" (click)="queryManager(+managerId.value)" routerLink="/managers/query-result">Query</button>
        <button type="button" class="btn btn-warning" (click)="stateService.dropState()" routerLink="/managers/show">Cancel</button>
      </div>
    </div>
  </div>
</form>
